@media (min-width: 326px) and (max-width: 550px){/*aplicaría en cualquier medio con dimensiones entre 326 y 550 píxeles.*/

caption{
    background-color: ;
    font-size: 13px;
    width: 100%;
    display: inline-block;
}
footer{
    height: 25%;
    margin-top:20% !important;
}
h1{
    background-color: ;
    font-size:8vw; 
    padding: 2%;
    box-sizing: content-box;
    height:8vw;
}
h2{/*directorio.php  directorio_com.php*/
    background-color:;
    width: 95%;
    margin: auto;
    margin-top: 5%;
    font-size: 28px !important;
}
h3{/*titulo todas las paginas*/
    background-color:;
    font-size:25px !important;
    color:#040652;
    text-align: center;
    margin-top: ;
 }
h6{/*pacientes.php   Promo.php*/
    background-color: ;
    margin-bottom: 1%;
}
legend{
    font-size: 20px;
}
scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }
td {
    text-align:left; 
    background-color: ;
    font-size: 11px; 
    border-style: none; 
    font-family:verdana; 
    color:09204D; 
    width: 80px !important;
}
th{ 
    background-color: ;
    font-size: 12px;
    font-weight: normal;
    padding:10px 5px;
}
ul{
    margin-left: 2%;
    list-style-position:inside;
}
.a_1{/*index.php*/
	margin-top: 15%; 
	font-size: 22px; 
	padding:10px; 
}
.A_03{/*03.php*/
    background-color:;
    font-size: 21px;
    width: 100%;  
    margin-top: 1%;
    margin-left: 0px;
    padding-left:0%;
    text-align: center;
}
.A_04{/*Directorio_Ingeniero.php*/
    background-color: ;
    display: block; 
    font-size: 17px; 
    width: 100%; 
    margin-bottom: -1%;
    text-align: center;
    padding-left: 0px; 
    border-left-style: none; 
}
.A_05{/*03.php#F4FCFB*/
    text-align:left; 
    background-color: ; 
    margin-bottom: 2%;
    font-size: 15px; 
    border-style: none; 
    font-family:verdana; 
    color:09204D; 
    display: inline; 
    padding-left: 4%;
}
.A_05A{/*Tienda_Comercial.php#F4FCFB*/
    background-color: ;
    text-align: left;
    padding-left: 4%;
    font-family:verdana;
    font-size: 15px;
    width: 100%;
}
.A_06{/*03.php*/
    background-color:;
    font-size: 15px; 
    border-style: none;
    margin-left: 0%; 
    padding-left: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    font-family:verdana;  
    width: 95%;
    text-align: left;
    padding-left: 4%;
}
.A_07{/*03.php*/
    background-color: ; 
    text-align:left; 
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 15px; 
    border-style: none; 
    font-family:verdana; 
    color:09204D; 
    display: inline; 
    width: 100%;
    padding-left: 4%;
}
.A_08{/*Tienda_Comercial.php*/
    background-color:#F4FCFB ;
    padding: 0% 5%;
    font-size: 15px;  
    width: 80%;
}
.A_09{/*DIrectorio_Ingeniero.php*/
    background-color:;
    width: 95%;
    margin: auto;
    margin-bottom: 1%;
    overflow: hidden;
    padding-left: 0%;
    font-size: 15px; 
}
.Afili_2{/*ingresar.php*/
    background-color:;
    margin: auto;
    width: 95%;
}
.Afiliacion_0 fieldset{/*formularios verticales*/
    background-color:;
    margin-bottom: 0%;
    width: 90%;
    font-size: 14px;
}
.Afiliacion_0 input{
    background-color: ; 
    display: block;
    width: 90%;
    margin:auto;
    margin-bottom: -3%;
    font-size: 18px;
    height: 26px;
}
.Afiliacion_0 label{/*registroPaciente.php registroEspecialista.php cargarMedicam.php ingresar.php Cancelar.php*/
    background-color: ;
    display: inline-block;
    text-align: center;
    margin-left: 0%;
    margin-bottom: 1%;
    width: 100%;
    font-size: 18px;
}
.Afiliacion_0 select{/*formularioswhite verticales*/
    background-color: white;
    font-size: 18px;    
    margin:auto;
    margin-bottom: 4%;
    margin-left: 13px;
    padding: 0px;
    height: 26px;
    width: 90% !important;
    text-align-last: center;
}
.Afiliacion_0 input[type=submit]{/*formularios verticales*/
    background-color: ;
    color: rgba(194, 245, 19,1);
    width: 35%;
    font-size: 15px;
    line-height: 15px;
    margin: auto;
    margin-top:5%;
    display: block;
}
.Afiliacion_0 option{/*formularios verticales*/
    font-size: 12px;
}
.Afiliacion_0 textarea{/*formularios verticales*/
    background-color: ;
    font-size: 12px;
}
.Afiliacion_0 p{/*formularios verticales*/
    background-color: ;
    font-size: 11px;
    text-align: center;
    line-height: 120%;
}
.Afiliacion_0 a{/*formularios verticales*/
    background-color: ;
    font-size: 11px;
    text-align: center;
}
.Afiliacion_0 .btn_verTodo{/*formularios verticales    registroDeCarga.php*/
    background-color: ;
    margin-left: 35%;
    height: 22px;
    padding: 0px!important;
}
.Afili_3{/*ingresar.php  contactenos.php   Cancelar.php   registroDeCarga.php*/
    background-color:;
    width: 100%;
    margin-top: 8%;
}
.Afiliacion_4{/*MiPerfil.php     registroDeCarga.php*/  
    background-color:;
    margin-bottom: 5% !important;
}
.Afiliacion_11{/*Afiliacion.php*/
    background-color: ;
    width: 95%;
    font-size: 14px;
    text-align: center;
    line-height: 150%;
}
.ancla_2{/*Servicios_Comercial.phph*/
      display: block;
      margin-top: -5%;
      height: 40px;
}
.ancla:before{
    background-color: ;
    display: block;
    content: " ";
    margin-top: -15%;
    height: 80px;
    visibility: hidden;
}
.br{/*Tienda_Comercial.php*/
    margin:1%;
}
.cambiar_01{
    background-color: ; 
    margin-left: 0%; 
    width: 95%; 
    padding: 0% 2%; 
    margin-top: 5%; 
    float: none;
    display: block;
}
.cambiar_02{
    background-color: ; 
    width: 95%; 
    margin-right: 0%; 
    padding: 0% 2%; 
    margin-top: 5%; 
    float: none;
    display:block;
}
.cargarMedic_1{/*cargarMedicam.php*/
    background-color: ; 
    position: static; 
    width: 100%; 
    margin-left:0%; 
    float: none; 
    margin-top:8%;
}
.cargarMedic_2{/*cargarMedicam.php*/
    background-color:; 
    width: 100%; 
    margin-top: 5%;
}
.cargaPaciente{/*RegistroPacientes.php*/
    background-color: ;
    font-size: 16px;
    margin-bottom: 5%;
}
.cargaPaciente_0{/*RegistroPacientes_Basico.php*/
    display: none; 
}
.cargarPaciente_1{/*cargarPaciente_Basico.php*/
    background-color:; 
    float: none; 
    display: block;
    width: 50%; 
    padding-bottom: 10%;
    position: absolute; 
    top: 170%; 
    left: 25%;
    line-height: 40%;
}
.cargarPaciente_2{/*cargarPaciente_Basico.php*/
    background-color: ;
    width: 95%;
    margin:auto;
    float: none;
}
.cargarPaciente_3{/*cargarPaciente_Basico.php*/
    background-color:; 
    width: 100%; 
    margin-top: 3%; 
}
.celdas_th{/*Cancelar*/
    background-color: #F4FCFB; 
    color:#040652; 
    font-weight: bold;
    font-size: 11px;
}
.CentroCeldas{/*03.php*//*no esta aplicado a nada*/
    background-color: ;
    color:09204D; 
    width: 800px; 
    text-align: center;
}
.citas_3{/*Citas_2Autofill_2.php*/
    background-color: ;
    position:absolute; 
    font-size: 13px !important;
    right:10%; 
    height: 23px;
    top:42%; 
    width: 80%;
}
.citas_4{/*Citas_2Autofill.php*/
    background-color:;
    position:absolute; 
    right:10%; 
    height: 23px;
    top:-70%; 
    width: 80%;
    font-size: 15px !important;
}
.Clave_3{/*CambiarClave.php*/
    background-color: ;
    width: 95%;
    margin-top: 10% !important;
    margin-bottom:20% !important;
    margin: auto;
}
.color{/*directorio.php  directorio_com.php*/
    background-color: ;
    font-size: 17px !important;
}
.comer_1{
    background-color: ;
    text-align: center;
    margin-top: 40%;
}
.contacto{/*contactenos.php*/
    background-color: ;
    width: 95%;
    margin: auto;
}
.contacto_1{/*configurarT.php*/
    background-color: ;
    width: 100%;
    margin-top: 1%;
}
.contacto_2{/*Tienda_Comercial.php.php*/
    background-color: ;
    margin-bottom: 5%;
}
.contacto_2A{/*Tienda_Comercial.php*/
    background-color: ;
    width: 80%; 
    margin-left: 8%;

}
.contador{/*contactenos.php*/
    background-color: ;
    width: 40px !important;
    height: 17px !important;
    line-height: 17px;
    font-size: 14px !important;
    margin-top: 2% !important;
    margin-bottom: 6% !important;
}
.container_13 h4{/*index.html   index.php*/ 
    background-color: ;
    padding: 4% 0%;
    margin-bottom: 7%;
    font-size: 9px;
}
.container_13{/*contenedor principal en index.html    index.php*/
    background-color:;
    width: 95%;
}
.container_13 .n20{/*index.html     index.php*/
    background: -webkit-linear-gradient(bottom, white 83%, #040652 17%);
}
.container_13 p{
    background-color: ;
    margin-top: 0%;
    margin-bottom: 0% !important;
}
.contenedor{/*index.php*/
    display: none;
}
.contenedor_SliderCom_1{/*index.php*/
    background-color: ; 
    display: block;
    width: 100%; 
    height: 200px; 
    margin-top: 8%; 
}
.contenedor_SliderCom_2{/*Tienda_Comercial.php*/
    background-color: ; 
    position: static;
    width: 95%; 
    height: 200px;
    margin-top: 12% !important;
    margin: auto; 
}
.contenedor_03_A{/*Tienda_Comercial.php */
    background-color: ;
    width: 100%; 
    position: static;
    float: none; 
    margin: 10% auto -25% auto; 
    display: grid; 
    grid-template-columns: 150px 30px 150px;
    grid-template-rows: 70px 70px 70px;
    justify-content: center;
}
.contenedor_03_B{/*Directorio_Tatto.php*/
    background-color: ;
    width: 100%; 
    position: static;
    float: none; 
    margin: 1% auto -35% auto; 
    display: grid; 
    grid-template-columns: 150px 30px 150px;
    grid-template-rows: 70px 70px 70px;
    justify-content: center;
}
.contenedor_03_B{/*Directorio_Ingeniero.php*/
    background-color: ;
    margin-top: 10%!important;
}
.contenedor_03_C{/*Servicios_Comercial.php   Directorio_Tatto.php*/
    background-color:;
    width: 97%;
    margin: auto; 
    height: 100px;
    text-align: justify;
}
.contenedor_4{/*Directorio_Ingeniero.php*/
    background-color: ;

}
.contenedor_04_C{/*Tienda_Comercial.php*/
    background-color:#BCBEDA ;/*azul claro*/
    width: 98%;
    padding: 0% 3%;
    top: 0%;
    z-index: 2;
    margin-left: auto;
}
.contenedor_05_C{/*Tienda_Comercial.php*/
    background-color:;
    margin-top: 7%;
}
.contenedor_06_C{/*Tienda_Comercial.php  Servicios_Comercial.php*/
    background-color: ;
    text-align: left;
    padding-left: 5%;
    font-size: 18px !important;
    margin-bottom: 0%;
}
.contenedor_07_C{/*Tienda_Comercial.php*/
    background-color: ;
    margin-top: 7%;
}
.contenedor_08{/*Tienda_Comercial.php*/
    background-color: ;
    width: 95%; 
    margin:auto;
}
.contenedor_09{/*Directorio_Tatto.php  */
    background-color:;
    width: 100%; 
    margin:auto;
    padding-top: 5%;
}
.contenedor_10{/*Tienda_Comercial.php  */
    background-color: ;
    width: 100%; 
    margin:auto;
    margin-bottom: 15%;
}
.contenido_3{/*Servicios_Comercial.php     Directorio_Tatto.php*/
    background-color:#F4FCFB ;
    color: #040652;
    width: 100%;
    min-height: 150px;
    margin: auto;
    overflow: hidden;
    padding:2%;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    border: none;
}
.comandoMenu{/*index.php  headerPrincipal.php*/
    background-color: #F4FCFB ;
    font-size: 14px; 
    text-align: left;
    height: 30px;
    line-height: 20px;  
    display: block;
    padding: 3% 3%;
}
.comandoMenu_Index{
    background-color: ;
    padding: 5% 2%; 
    float: left; 
    width: 20%; 
    height: 40px;
}
.detalle_4{/*buscarTodosMedicamOfertados.php*/
    border-left: none;
    padding-left: 50%;
}
.DocAfiliado{/*DoctorAfiliado.php    buscar.php     Afiliacion.php*/
    background-color: ;
    padding-top: 5%;
    width: 100%;
    margin: auto;
    padding-bottom: 3%;
}
.DocAfiliado .Inicio_13{/*   Afiliacion.php*/
    background-color: ;
    font-size: 14px;
}
.DocAfiliado .Inicio_1{/*DoctorAfiliado.php   buscar.php*/
    background-color: ;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 5%;
    width: 95%;
    text-decoration: none; 
    font-size: 16px; 
    display: block;
}
.DocAfiliado .Inicio_5{/*DoctorAfiliado.php   buscar.php*/
    background-color: ;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 5%;
    text-decoration: none; 
    font-size: 16px; 
    display: block;
}
.DocAfiliado_2{/*ingresar.php*/
    background-color:;
    width:60%;
    margin: auto;
    padding: 6%;
    text-align: center;
}
.DocAfiliado_2 p{/*ingresar.php*/
    font-size: 14px !important;
    line-height: 145%;
}
.DocAfiliado_3{/*DoctorAfiliado.php*/
    background-color: ;
    margin-bottom: 10%;
}
.encabezadoSesion_1{/*toas las paginas de sesion; verificar si esta clase se puede eliminar e nsertar los atributos al h3*/
    background-color: ;
    margin-top: 30% !important;
    margin-bottom: 2%;
}
.encabezadoSesion_2{/*quirurgico.php*/
    background-color: ;
    margin-top: 10%;
    margin-bottom: 8%;
}
.enlace_desactivado {
    pointer-events: none;
    cursor: default;
}
.etiqueta{/*cargarMedicam.php*/
    background-color:;
    float: left;
    width: 45%;
    font-size: 13px !important;
}
.etiqueta_5{/*registroPaciente.php       HistoriasClinicas.php*/
    background-color:;
    float: left;
    margin-left: 0%;
    position: relative;
    font-size: 13px;
    margin-right: 4.7%;
    width: 40%;
}
.etiqueta_6{/*aplicado a label de HistoriasClinicas.php    registroPaciente*/
    background-color:;
    display: inline-block;
    margin-left: 0%;
    font-size: 13px;
    margin-right: 3.1%;
    width: 40% !important;
}
.etiqueta_11{/*registroPaciente.php          HistoriasClinicas_Basico.php*/
    background-color:;
    margin-left: 0%;
    width: 90%;
    font-size: 13px;
}
.etiqueta_12{/*aplicado a label de HistoriasClinicas.php*/
    background-color: ;
    margin-left: 0%;
    width: 295px;
    font-size: 13px;
    float: none;
    margin-top: 0%;
}
.etiqueta_13{
    background-color: ;
    margin-left: 20%;
    width: 50px !important;
}
.etiqueta_14{
    font-size: 12px;
}
.etiqueta_15{/*registroPaciente.php*/
    background-color:  ;
    display: block;
    margin: 8% auto;
}
.etiqueta_16{/*aplicado a label de HistoriasClinicas.php    registroPaciente*/
    background-color:;
    display: inline-block;
    margin-left: 45%;
    width: 20% !important;
}
.etiqueta_17{/*diagnostico_Basico.php*/
    margin-bottom: 1.5%; 
    background-color:#bcbeda; 
    margin-top: 3%;
    width: 95% !important; 
    border-style: none;
    display: block;
}
.etiqueta_18{
    background-color: ;
    margin-left: 0%;
    width: 90%;
    height: 85px;
    font-size: 12px;
}
.etiqueta_20{/*registroPaciente.php*/
    background-color:;
    float: left;
    margin-left: 0%;
    position: relative;
    font-size: 13px;
    margin-right: 4.7%;
    width: 40% !important;
}
.etiqueta_21{/*InicioSesion_Basico.php*/
    background-color:;
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 20%;
}
.etiqueta_22{/*InicioSesion_Basico.php*/
    background-color:;
    display: inline-block;
    width: 40%;
}
.etiqueta_23{/*registroPaciente.php*/
    background-color:;
    float: left;
    position: relative;
    margin-bottom: 2%;
    width: 45%; 
    font-size: 13px !important;
}
.etiqueta_24{/*registroPaciente.php  mostrarPerfilPaciente.php*/    
    background-color:;
    width: 51%;
    margin-bottom: 2%;
    font-size: 13px !important;
}
.etiqueta_25{/*registroPaciente.php*/
    background-color:;
    float: left;
    position: relative;
    margin-bottom: 2%;
    width: 45%;
}
.etiqueta_26{/*registroPaciente.php*/   
    background-color:;
    width: 55%;
    margin-bottom: 2%;
}
.etiqueta_27{/*pacient_medicam.php*/
    background-color:;
    display: inline-block;
    text-align: center;
    margin-left: 0%;
    width: 100%;
}
.etiqueta_28{/*pacient_medicam.php*/
    background-color:;
    display: block;
    width: 60%;
    margin:auto;
    margin-top: 2%;
}
.etiqueta_29{/*InicioSesion_Basico.php*/
    background-color:;
    display: inline-block;
    width: 18%;
    padding:1px 8px !important;
    height: 20px;
}
.etiqueta_30{/*HistoriasClinicas_Basico.php*/
    width:44% !important;
}
.etiqueta_32{/*cargarMedicam.php*/
    height: 23px;
}
.etiqueta_33{/*buscar.php*/
    background-color:;
    margin-right: 1%;
    margin-bottom: 10%;
}
.diagnostico_1{/*diagnostico.php*/
    background-color: ;
    text-align: justify-all; 
    margin-bottom: 10px; 
    width: 96%;
    font-size: 15px;  
    margin: auto;
    padding-left: 1%;
}
.diagnostico_2{/*diagnostico.php*/
    background-color: ;
    margin-top: 3%;
    display: inline-block; 
    min-height:20px;
}
.directorio{/*directorio.php*/
    background-color: ;
    margin-bottom: 5%;
}
.directorio_01{/*directorio*/
    background-color: ;
    display: inline-block;
    margin-left: 4%;
    font-size: 12px;
}
.directorio_02{/*directorio.php  directorio_com.php*/
    background-color: ;
    margin-top: 8% !important;
}
.directorio_3{/*directorio.php  directorio_com.php*/
    background-color: ;
    font-size: 19px !important; 
}
.Directorio_5{/*directorio.php    directorio_Comp.php*/
    background-color:;
    margin-top: 5%;
    margin-bottom: 40%;
    width: 90%;
}
.encabezado_03{/*Directorio_Ingeniero.php */
    background-color: #F4FCFB;
    margin-top: 2%;
}
.enlace_1{/*directorio.php    directorio_Com.php*/
    background-color: ;
    width: 45%;
}
.enlace_2{/*index.php*/
    background-color: ;
    font-weight: normal;
    color:#040652 ;
    font-size: 18px !important;
    font-family:  'Montserrat', sans-serif;
    width: 100% !important;
    height: 100%;
    padding: 4% 0% !important;
}
.grid_2{/*Tienda_Comercial.php*/
    margin: 4% ;  
    border-style: solid; 
    border-width: 1px; 
    border-radius: 5px; 
    line-height: 350%; 
    text-align: center;
    width: 95%;
}
.grid_2 a{/*Tienda_Comercial.php*/
    background-color: ;
    font-size: 17px;
}
.header_01{/*headerAfiliado_com.php   headerAfiliado.php*/
     background-color: ; 
     width: 100%; 
     height: 35px;
     float: none;
     display: block; 
     border-right-color: none; 
     border-right-style: none;
     border-right-width: none; 
}
.header_02{/*headerAfiliado_com.php   headerAfiliado.php*/
    background-color: ; 
    cursor: default;
    font-size:26px; 
    padding: 2%;
    box-sizing: content-box;
    height: 2vw;
}
.header_03{/*headerAfiliado_com.php   headerAfiliado.php*/
    background-color: #040652; 
    float: none;      
    display: block; 
    width: 100%;
    height: 30px;
}
.historia_1{/*HistoriaClinica.php*/
    display:none ;
}
.historia_2{/*HistoriaClinica.php*/
    background-color:;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    padding-left: 4%;
    padding-bottom:2% ;
}
.historia_2 input{/*HistoriaClinica.php*/
    background-color: ;
    margin-bottom: 10px;
    font-size: 15px;
    width: 50%;
}
.historia_3{/*HistoriaClinica.php*/
    background-color:; 
    width: 95%; 
    float: none; 
    display: block;
    margin-top: -8%;
    padding-top: 0%;
    margin-left: 2.5%;  
    position: static; 
}
.horario_1{
    background-color: ;
    padding-left: 9%;
    margin-left: 2%;
}
.horario_2{
    font-size: 15px;
}
.horario_3{
    margin-top: 8%;
}
.icon{
  font-size: 10px;
}
.iconoFijo{/*HistoriasClinicas.php*/
    background-color:#F4FCFB;
    color:#040652;
    margin-top: 30%;
    margin-bottom: 2%;
    display: block;
    width: 100%;
    text-align: center;
    height: 6%;
    font-size: 18px;
    z-index: 2;
}
.iconoFlecha{/**/
    display: block;
    position: absolute; 
    top: 18%;
}
.imagen_1{/*configurarT*/
    background-color: ;
    width: 10%; 
    object-fit:contain ;/* deseado cover */
    filter: brightness(110%);
    margin: auto;
    padding-left: 1%;
}
.imagen_2{/*configurarT.php  configurarT_com.php*/
    width: 300px; 
    float: none; 
    margin-right: 5%; 
    margin-bottom: 5%; 
    padding-top: 4%;
}
.imagen_6{/*Tienda_Comercial.php*/ 
    background-color: ;
    padding-top: 0%;
    float: none;
    width: 100% !important;
}
.imagen_7{/*Directorio_Tatto.php   Directorio_Ingeniero.php*/
    background-color: ;
    width: 95%; 
    height: 250px;
}
.imagen_Div_2{/*configurarT.php*/
    background-color: ;
    top: 43%;
    left:73%;
    width: 25%;
}
.Inicio_1{/*configurarT.php*/
    background-color:;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    width: 90%;
    padding-left: 4%;
    min-height: 50%;
    margin: 0%; 
}
.Inicio_2{/*configurarT.php*/
    background-color:;
    margin-top: 0%;
    padding-left:4%; 
    font-size:13px;
    text-align: left;
    width: 95% !important;
}
.Inicio_4{/*index.php */
    background-color: ;
    color:#040652;
    margin-top: 20%;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    font-size: 17px; 
    width: 90%; 
}
.Inicio_5{/*index.php*/
    background-color: ;  
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: -10%;
}
.sesion_5 .Inicio_5{/*buscar.php*/
    background-color: ;
    text-align: center;
    font-size: 14px;
    margin-bottom: 8%;
}
.Inicio_6{/*pacientes.php*/
    background-color: ;
    display: block;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    width: 100%;
}
.Inicio_7{/*index.php*/
    background-color: ;
    color: #040652;
    font-family: 'Montserrat', sans-serif;
    font-size:27px; 
    padding-top: 2%; 
    margin-bottom: 3%;
    line-height: 160%; 
    text-align: right;
    width: 40%;  
    position: absolute; 
    top: 1%;  
    left:34%;  
}
.Inicio_8{/*index.php*/
    background-color:; 
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    text-align:center;
    width: 95%;
    line-height: 160%;
    margin-bottom: -5% !important;
    margin: 15% auto
}
.Inicio_9{/*index.php*/
    background-color:; 
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    text-align:center;
    width: 100% ;
    margin-left: 0%;
    padding: 8% 2%;
}
.Inicio_10{/*index.php */
    background-color:; 
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    text-align:center;
    width: 100%;
    padding: 0% 5%;
    color: #040652 !important;
    top: 89%;
    left: 0%;
}
.Inicio_11{/*index.php*/
    background-color:; 
    margin-top: 25%;
    margin-bottom: -25px !important;  
}
.Inicio_12{/*configurarT.php */
    background-color:#F4FCFB ;
    font-size:10px;
    text-align: left; 
    margin-left: 2%; 
    border: none;
}
.Inicio_13{/*directorio.php   directorio_com.php*/
    background-color: ;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    width: 100%;
    line-height: 30px;
}
.Inicio_14{/*Doctores.php  anuncio.php*/
    background-color: ;
    font-size: 14px;
    margin-bottom: 8%;
}
.Inicio_15{/*pacienteRegistrado.php   InicioSesion_Xxxxxxx.php*/
    background-color: ;
    width: 130% !important;
    height: 23px;
    font-size: 14px;
    line-height: 23px;
}
.Inicio_16{/*Afiliacion.php*/
    background-color: ;
    margin-top: 5% !important;
    margin: auto;
}
.Inicio_17{/*index.php */
    background-color:;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: -40% !important;
    line-height: 100%;
}
.Inicio_18{/*directorio.php*/
    background-color: ;
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    color: #C7CFE4;
    text-align: center;
    margin-top: 20% !important;
    margin:auto;
}
.Inicio_19{/*directorio.php*/
    background-color: ;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    font-weight: bold;
    color: #C7CFE4;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 3%;
}
.Inicio_20{/*directorio.php*/
    width:150px; 
    font-size: 14px; 
}

.Inicio_22{/*index.ph*/
    color:#040652;  
    width: 20%; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    font-weight: bold;  
    text-align: center; 
    display: table-cell; 
    vertical-align: middle;
}
.Inicio_22:hover{/*index.ph*/
    color:white;  
}
.Inicio_23{/*ingresar.ph*/
    background-color: ;
    color:#040652; 
    font-family: 'Montserrat', sans-serif;
    font-size: 17px !important; 
    font-weight: bold;  
    text-align: center; 
    display: block;
    margin-bottom: 0%;
    margin-top: 5%;
}
.Inicio_24{/*medicamentos.php*/
    background-color: ;
    font-family: 'Raleway', sans-serif;
    text-align: center;  
    display: block;
    font-size: 15px;
    font-weight: bold; 
    margin-top: 3%;
    margin-bottom: -30%;
}
.Inicio_24:hover{/*medicamentos.php*/
    /*APLICA*/
    color: white;
    background-color: rgba(4, 6, 82, 0.1);
}
.Inicio_27{/* index.php    medicamentos.php */
    /*APLICA*/
    background-color: ;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    text-align: center;  
    line-height: 150%;
    position: static;
    width: 95%; 
    margin: auto;
}
.input_3{/*Directorio_Tatto.php*/
    background-color:#F4FCFB ;
    margin-top: 10%;
    font-size: 25px;
}
.input_3A{/*Directorio_Tatto.php */
    background-color:#F4FCFB;
    color: #040652;
    border: none;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-bottom: 1%;
}
.Intro{/*index.php*/
    background-color:;
    font-family: 'Raleway', sans-serif !important;
    font-size:18px !important;
    letter-spacing: 1px !important;
    text-align: center;
    width: 95%  !important;
    min-height: 40%;
    margin-left: auto; 
    margin-top: 5%;
    margin-right: auto; 
}
.imagen{/*Index.php  Tienda_Comercial.php*/
    width: 100%; 
    object-fit: contain; 
    filter: brightness(110%); 
    padding: 10% 0%;
    width: 100%;  
    box-sizing: border-box;  
}
.imagen_3{
    display: none;
}
.imagen_4{/*index.php*/
    width: 70% !important; 
    object-fit:contain ;/* deseado cover */
    filter: brightness(110%);
    margin-top: 40%; 
}
.imagen_Div{/*mostrarPerfil_Ingeniero.php*/
    background-color: ;
    margin:auto;
    margin-top: 0%;
    margin-bottom: -5%;
}
.label_1{/*Tienda_Comercial.php*/
    background-color: ;
    display: inline-block;
    width: 50%;
}
.linea{/* buscarTodosMedicamOfertados.php*/
    background-color: #040652; 
    margin-bottom: 5%; 
    height: 1px; 
    margin-top: 3%; 
    margin-bottom: 20%;
}
.linea_1{/*pacient_medicam.php*/
     background-color: #040652; 
     margin-bottom: 10%; 
     margin-top: 10%; 
}
.linea_2{/*medicamentos.php*/
     background-color: #040652; 
     margin-bottom: 10%; 
     margin-top: 10%; 
}
.lista_1{/*Tienda_Comercial.php*/
    background-color: ;
    padding: 4%;
    width: 95%;
    font-size: 15px;
}
.marcador{/*perfil_comercio.php   Servicios_Comercial.php*/ 
    background-color: ;
    line-height: 30px;
    display: inline-block;
    width: 100%;
    font-size: 16px !important;
}
.medio{/*Texto Citas_2Autofill.php*/
    display: inline-block;
    color: white;
    font-size: 14px;
}
.medio_2{/*Texto Citas_2Autofill.php*/
    background-color: ;
    width: 70%;
    margin-left: -1.5px;
    font-size: 13px;
}
.medio_3{/*Citas_2Autofill.php*/
    background-color: ;
    width: 95%;
    font-size: 14px;
}
.mostrarTabla{
    background-color:; 
    width: 100%; 
    height: 530px; 
    margin-left: -1%; 
    margin-top: 1%; 
    position: absolute;  
    display: none;
    z-index: 100;
}
.menuIndex{/*index.php*/
    background-color: #F4FCFB;
    position: fixed; 
    width: 100%; 
    padding-bottom: 3%;
    z-index: 5; 
}
.menuResponsive{/*index.php*/
    background-color:  ;
    position: absolute;
    padding-top: 4%;
    padding-bottom: 3%;
    width:52%;
    margin-left: -52%;
    transition: all 0.5s;
    z-index: 50;
}
.menuResponsiveIndex{/*index.php */
    background-color:  ;
    margin-top: 10%;
}
.menuResponsive ul{/* index.php   index.html*/
    background-color: ;
    flex-direction: column;
}
.menuResponsive li{/*Todas las páginas*/
    background-color: ;
    margin-bottom: 8%;
    padding-left: 6%;
}
.menuResponsive li a{/* index.php   index.html*/
    background-color: ;
    font-size: 18px;
    width: 100%;    
    text-align: left;
}
.menuResponsive li a:hover{/* index.php   index.html*/
    background-color: ;
    color: white;
}
.modal{
    width: 100%;
    background-color: ;
    height: 200%;
}
.modalEtiquetaCerrar{/*index.php   directorio.php*/
    background-color: rgba(4,17,50,0.95);
    position: fixed;
    top: 60%;
    color: rgba(194, 245, 19,1);
    z-index: 50;
    font-size: 15px !important;
    margin-left: 41% !important;
    width: 65px !important;
    height: 25px !important;
    line-height: 25px !important;
    border-radius: 20%;
    text-align: center;
    padding-top: 0px;
    cursor: pointer;

    /*Todas las reglas de animación no funcionan bien en Chrome desde android*/
    /*animation: modal 1s;tiempo que tarda en formarse la animacion*/
    /*animation-delay: 0.5s;tiempo que tarda en aparecer la animacion*/
    /*animation-fill-mode: forwards;la animacion se queda fija*/
    /*visibility: hidden;
    opacity: 0;*/
}
.noticia_1{
    background-color: ; 
    padding: 1% 2%; 
    margin-right: 2%; 
    margin-bottom: 0%; 
    margin-left: 2%; 
    text-align: justify-all;
    font-size: 13px;
}
.nuevoPaciente{/*HistoriasClinicas.php*/
    font-size: 17px;
}
.nuevoPaciente_2{/*HistoriasClinicas.php*/
    font-size: 17px;
}
.ocultar{/**/
    display: none;
}
.ocultar_2{/*RegistroPacientes_Xxxxxxxxxxxxx.php*/
    display: none;
}
.ocultarAlfabeto{/*directorio.php  directorio_2.php*/
    display: none;
}
.ocultarCelda{
    display: none;
}
.ocultarMenu{/*Todos los archivos sin login*/
    background-color:;
    margin-bottom: 20%;
    margin-top: 25%;
}
.ocultarMenu_2{/*index.php*/
    background-color:;
    margin-bottom: 20%;
    margin-top: 10%;
}
.ocultarMenu_3{/*Todos los archivos sin login.php*/
    background-color:;
    margin-bottom: 20%;
    margin-top: 35%;
}
.ocultar_1{
    background-color: ;
    display: none !important;
}
.opcion_2{/*InicioSesion_Basico.php*/
    background-color: #C40614; 
    line-height: 25px; 
    text-align: left; 
    color: white;
}
.p_2{/*texto del footer*/
    background-color: ;
    font-size: 10px;
    margin:1% auto;
    line-height: 140%;
    width: 100%;
}
.p_2A{/*footer*/
    /*background-color: #E95B5B;*/
    display: block;
}
.paciente{
    background-color: ;
    color: black;
    font-size: 12px;
}
.paciente_1{/*Cancelar_AJAX.php*/
    background-color:;
    font-size: 12px;
}
.Pacientes_2{/*recibePaciente.php  Promo.php*/
    background-color: ;
    margin-bottom: 10%;
}
.Pacientes_3{/*recibePaciente.php  recibeCargaMedicamento.php*/
    /*APLICA*/
    background-color:;
    margin-top: 10%;
    margin-bottom: 30%; 
    width: 95%;
}
.Pacientes_3 a{/*recibePaciente.php*/
    margin-top: 40% !important;
    margin-left: 40%
}
.Pacientes_3 b{/*recibePaciente.php*/
    background-color: ;
}
.Pacientes_4{/*pacientes.php */
    background-color: ;
    margin-top: 10% ;
}
.Paciente_5{
    background-color: ;
    display: none;
}
.parrafo_2{
    display: none;
}
.parrafo_2A{/*Tienda_Comercial.php     Directorio_Tatto.php*/
    background-color:;
    margin-left: auto;
    color:#040652;
    font-weight: bold;
}
.Perfil_00_A{/*Tienda_Comercial.php  mostrarPerfil_Ingeniero.php  mostrarPerfil_Comercio.php*/
    background-color:;
    width: 100%;
    margin-left: 0%;
    margin-top: -4%;
    margin-bottom: 4%;
    float: none;
}
.Perfil_00_B{/* Directorio_Ingeniero.php*/
    background-color:;
    width: 100%;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: 4%;
    float: none;
}
.Perfil_00_C{/*Tienda_Comercio.php*/
    background-color:;
    width: 98%;
    margin-top: 0% !important;
    float: none;
    margin: auto;
}
.Perfil_2a{/*mostrarPerfil_Ingeniero.php  Directorio_Ingeniero.php*/
    background-color:#BCBEDA  !important; 
    width: 95%;
}
#Perfil_05_B{/*medicamentosBuscar.php*/
    /*APLICA*/
    background-color: ; 
    width: 95%; 
    margin: auto;
    margin-top: 10%;
}
#Perfil_05_C{/*agendarCita_Xxxxxx.php*/
    background-color:  ; 
    width: 95%; 
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
#Perfil_07{/*03.php   medicamentosBuscar.php*/
    background-color: ; 
    width: 48%; 
    display:inline-block;
    margin:auto;
}
.PacientesRegistrados_2{/**/
    margin-left: 0px;
    margin-bottom: 10%;
}
.PacientesRegistrados_1{/**/
    background-color: ;
    margin:30% auto; 
    font-size: 20px;
    font-family: Montserrat; 
    font-weight: lighter; 
    width: 65%; 
    text-align: center;
}
.Principal{/*directorio.php  directorio_com.php*/
    background-color:;
    width: 100%;
    margin: auto;
}
.Principal .Inicio_1{/**/
    background-color: ;
    margin-bottom: 4%;
}
.Principal_2{/**/
    background-color: ;
    margin-top: 25% !important;
    max-width: 1366px;
    min-height: 85%;/*El otro 10% de la pantalla lo ocupa el header*/
}
.registro_01{/**/
    background-color: ;
    font-size: 13px;
    width: 51%; 
    margin-top: 2.5%; 
    margin-bottom: 2.5%;
    text-align: center;
}
.span_03{/*registroEspecialista.php*/
    background-color: ;
    display: block;
    margin-bottom: 4%;
    width: 100%;
    font-size: 15px;
    text-align: center;
}
.submitContacto{/*contactenos.php*/
    background-color:;
    margin-left: 28%;
    height: 25px !important;
}
.tablaTexto{/*Afiliacion.php*/
    background-color:;
    margin-top: 2%;
    margin-bottom: 9%;
    padding-left: 3%;
    width: 100% !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;  
    font-weight: bold;
}
.tablaTexto_1{/*Afiliacion.php*/
    background-color: ;
    height: 4%;
    margin-bottom: 9%;
    padding-left: 3%;
    font-size: 13px; 
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    width: 100% !important;
}
.tablaTexto_2{/*Afiliacion.php*/
    background-color: ;
    height: 4%;
    text-align: left;
    margin-bottom: 9%;
    padding-left: 3%;
    font-size: 13px; 
    text-align: left;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    display: block;
    width: 100% !important;
}
.tablaPrecio{/*Afiliacion.php*/
    background-color: ;
    font-size: 14px;
    font-family:  Montserrat;
    width: 60px;
}
.tabla_1{/*InicioSesion_Xxxxxx.php  pacienteRegistrado_Xxxxxx.php   pacienteTratamiento.php*/
    background-color:;
    width: 200%;
    margin: auto;
}
.tabla_2{/*RegistroPacientes_Basico.php  pedidoProveedores_Basico.php*/
    background-color: ; 
    width:45% ; 
    margin:auto;
}
.tabla_2A{/*RegistroPacientes_Basico.php*/
    background-color: ; 
    width: 38% !important;
    padding-left: 0%;
} 
.tabla_2B{/*RegistroPacientes_Basico.php*/
    background-color: ;
    width: ; 
} 
.tabla_3{/*pacienteTratamientos.php*/
    background-color: ;
    display: none;
}
.tabla_5{/*pacienteTratamiento.php*/
    border-bottom-style: none; 
}
.tarjeta_1{
    border-color: black; 
    width: 98%; 
    border-width: 1px; 
    border-style: solid;  
    margin: 20% auto;
}
.telefonos_03{
    background-color: ;
    justify-content: none; 
    display: block;
}
.telefono_03A{
    background-color: ;
    width: 100%; 
    margin-left: 0%;
    margin-bottom: 1%;
}
.telefono_03B{
    background-color: ;
    width: 100%; 
    margin-left: 0%;
}
.textarea_1{/*Tienda_Comercial.php*/
    background-color: ;
    margin-left: 0%; 
    width: 96%;
}
.texto{/*registroPaciente.php*/
    background-color: ;  
    margin-top: 12%;
}
.textoVerificar{/*Citas_2Autofill.php    Citas_2Autofill_2.php*/
    background-color:;
    display: inline-block;
    width: 90%;
    margin-top: 5% ;
    margin-bottom:5% ;
    font-size: 15px;
    cursor: pointer; 
    text-decoration: underline
}
.textoCelda_0{/*InicioSesion_Basico.php   pacienteRegistrado.php*/
    display: none;
    /*background-color: red;
    color: ;
    width: 5px !important;  
    text-align: center;  */   
}
.textoCelda_1{/*InicioSesion_Basico.php*/
    color: ;
    background-color: ;
    font-size: 10px !important;
    width: 20px !important;      
}
.textoCelda_1A{/*pacienteTratamiento.php*/
    color: ;
    background-color: ;
    font-size: 10px !important;
    width: 60px !important;      
}
.textoCelda_2{/*pacienteTratamiento.php*/
    color: ;
    background-color: ;
    font-size: 12px !important;
    width: 30px;      
}
.textoCelda_3{/*buscarCitaNombre.php*/ 
    background-color: ;
    font-size: 15px ;
    width: 12%;    
    font-size: 13px !important;  
    text-align: left; 
}
.textoCelda_3A{/*buscarCitaNombre.php*/ 
    background-color: ;
    font-size: 15px !important;
    width: 15%; 
    text-align: right; 
    font-size: 13px !important;    
}

.textoCelda_3B{/*buscarCitaNombre.php*/ 
    background-color: ;
    font-size: 15px !important;
    width: 12%; 
    text-align: left;  
    height:  25px; 
    font-size: 13px !important;  
}
.textoCelda_4{/*pacienteTratamientos.php*/ 
    background-color: ;
    font-size: 14px ;
    width: 50% !important;      
}
.textoCelda_4E{/*pacienteTratamientos.php*/ 
    background-color:;
    font-size: 13px ;
    width: 400px !important;   
    line-height: 100% !important;    
}
.textoCelda_5{/*pacienteTratamientos.php  */ 
    background-color:;
    font-size: 14px ;
    width: 100% !important; 
    margin-left:-20%;   
    margin-top: 0%;
    padding: 0 0;  
    min-height: 220px;
}
.textoCelda_6{/*pacienteTratamientos.php*/ 
    margin-left:-20%;
}
.tratamiento_1{/*pacienteTratamiento.php */
    background-color:;
    margin:auto;
    margin-top: 5%;
    padding: 0px;
    height: 800px;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #040652;
    overflow:auto;/*crea una barra vertical cuando la tabla es mas alta que el div que la contiene*/
}
.TratamientosMedicados_1{
    background-color: ; 
    width: 100%; 
    margin-bottom: 1%;
    margin: auto;
    float: none;
}
.registro_1{/*registroPaciente.php*/
    background-color: ; 
    text-align: justify;
    width: 80%;
}
.registro_3{/*registroPaciente.php*/
    background-color:; 
    width: 100%; 
    float: none;
}
.registro_4{/*registroPaciente.php*/
    background-color: ;
    width: 95%; 
    float: none; 
    margin-top: 5%;
}
.usuarioAfiliado{/*paginas login -  texto identificando al afiliado*/
    background-color:#040652; 
    display: inline-block; 
    font-size:17px;  
    height: 25px; 
    text-align:center; 
    border-style: none; 
    font-family:verdana; 
    width: 100%; 
    color:#F4FCFB;
    float:none;
    margin-left: auto;
    margin-bottom: 2%;
    padding-right: 0%;
}
#Afili{/*registroEspecialista   mostrarPerfilPaciente.php*/
    background-color:;
    margin-top: 5%;
    margin-bottom: 7%;
    margin: auto;
    width: 100%;
} 
#afiliacionLinea{
    margin-bottom: 0%;
}
#Afiliacion_1{/*Afiliacion.php*/
    background-color:;
    width: 100%;
    height: 10%;
    margin-top:5%;
    margin-bottom: 2%;
    padding: 10px 0%;
    margin-bottom: 6%;
    height: 10%;
} 
#Afiliacion_5 label{/*Afiliacion.php*/
    background-color:;
    font-size: 12px;
}
#Afiliacion_5 select{/*Afiliacion.php*/
    background-color: ;
    width: 46%;
    font-size: 12px;
}
#Afiliacion_5 input{/*Afiliacion.php   contactenos.php       DoctorAfiliacion.php*/
    background-color: ;
    height: 14px;
    width: 45%;
    font-size: 13px;
}
#Afiliacion_5 option{/*Afiliacion.php*/
    font-size: 12px;
}
#Afiliacion_7{/*DoctorAfiliado.php*/
    background-color:;
    border-radius: 15px;
    padding: 10px ;
    width: 65%;
    margin: auto;
}
#cambiar{/*ingresar.php*/
    background-color: ;
    width: 100%;
    margin-top: 8%;
    margin-left: 0px;
    font-size: 15px;
}
#cambiar_2{/*ingresar.php*/
    background-color: ;
    font-size: 13px;
    margin-top: 5%;
    margin-bottom: -5% !important;
}
#cancelar_1{/*Cancelar.html*/
    background-color:;
    width:100%;
    margin-top: 5%;
    margin-left: 0%;
    display: inline-block;
}
#cancelar_4{/*Cancelar.html*/
    background-color: ;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
    margin-left:0%;
}
#cancelar_4 .Inicio_1{
    background-color: ;
    width: 90%;
}
#Cancelar_5{/*Cancelar.php*/
    background-color:;
    margin-top: -10px;
    margin-bottom: 15px;
    margin-right: 0%;
    margin-top: 0px;
    width: 100%; 
}
#cancelar_8{/*Cancelar.html*/
    background-color:;
    width: 100%;
    margin-bottom: 5%;
}
#carga{/*InicioSesion_Basico.php*/
    background-color:; 
    margin-top: 0%;
     width:35%; 
     height:100%;
}

#carga_2{/*RegistroPacientes_Basico.php*/
    background-color:; 
    margin-top: 0%;
    width:100%; 
    height: auto;
}
#carga_3{/*InicioSesion_Basico.php*/
    background-color:; 
    margin-top: 0%;
    width:95%; 
    margin:auto;
    margin-bottom: 1%;
}
#citas{
    background-color: ;
    font-size: 10px;
}
#cerrar + label{/* aplica estilo al elemento que esta inmediatamentamente despues de #cerrar   index.php  directorio.php*/
    background-color: rgba(4,17,50,0.95);
    position: fixed;
    color:rgba(194, 245, 19,1) ;
    z-index: 50;
    font-size: 20px;
    margin-left: 46.6%;
    margin-top: 53%;
    width: 90px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    text-align: center;
    padding-top: 0px;
    cursor: pointer;

    /*animation: modal 1s;tiempo que tarda en formarse la animacion*/
    /*animation-delay: 0.5s;tiempo que tarda en aparecer la animacion*/
    /*animation-fill-mode: forwards;la animacion se queda fija*/
    /*visibility: hidden;
    opacity: 0;*/
}
#cerrar:checked + label, #cerrar:checked ~ .modal{/*cuando cerrar esta chequeado a la label y .modal se le aplican estas reglas*/
    display: none;
}
#Contenido{/*contactenos.php*/
    background-color: ;
    min-height: 50px;
    width: 90% !important;
    margin-top: 0%;
}
.contenido_2{/*contactenos.php*/
    background-color:;
    font-size: 16px !important;
    height: 100px;
}
#Directorio_00 p{/*Directorio.php*/
    color: ;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}
#Directorio_00 a{/*Directorio.php*/
    color: ;
    font-size: 13px;
}
#Directorio_00 p{/*Directorio.php*/
    font-size: 15px;
}
#entrarSesion{/*DoctorAfiliacion.php*/
    background-color: ;
    display: block;
    height: 20px !important;
    margin:auto;
}
#Menu{/*directorio.php*/
    display: block;
}
#Menu .Inicio_13{/*directorio.php*/
    background-color: ;
    font-size: 15px; 
}
#planes{/*Afiliacion.php*/
    background-color: ;
    width: 95%;
    margin-bottom: 3%;
    margin-left: 3%;
}
#planes th{/*Afiliacion.php*/
    background-color: ;
    font-size: 12px !important;
    width: 75%;
    margin: auto;
    margin-bottom: 5%;
}
#Perfil_1{/*Tienda_Comercio.php*/ 
    background-color: ;
    display: block;
    width: 100%;
    float: none;
    margin:auto;
}
#Perfil_2{/*mostrarPerfil_Ingeniero.php*/
    background-color:;
    width: 100%;
    margin-top: 25%;
    padding-top: 0%;
    margin-bottom: 4%;
    float: none;
    display: block;
    clear: right;  
    border-top-style: none; 
    padding-top: 2%;
}
#Perfil_3{/*Directorio_Ingeniero.php*/
    background-color:;
    width: 95%;
    margin: auto;
    margin-top: 30%;
    padding-top: 0%;
    padding-bottom: 8%;
    margin-bottom: 0%;
    float: none;
    align-items: center;
    text-align: justify-all;
    border-top-color: white;  
    border-top-style: none; 
    border-top-width: 0px; 
    padding-top: 0%;
}
#Perfil_2a{/*Directorio_Ingeniero.php*/
    background-color:;
    display: block;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 10%;
    float: none;
    margin:auto;
    text-align: justify-all;
}
#Perfil_2 .Perfil_2a, #Perfil_3 .Perfil_2a, #Perfil_01 .Perfil_2a, #Perfil_01A .Perfil_2a{/*Directorio_Ingeniero.php*/
    background-color: ;
    font-size: 20px;
}
#Perfil_2 p{
    font-size: 12px;
}
#Perfil_01 .direccion{/*03.php*/
    background-color: ;
    margin-top: 50px;
}
#Perfil_01{/*mostrarPerfil_Ingeniero.php  Directorio_Ingeniero.php*/ 
    background-color:;
    display: block;
    float: none;
    width: 100%;
    height: 130px;
    margin-top: 5%;
}
#Perfil_01A{/*Directorio_Ingeniero.php*/ 
    background-color:;
    display:block;
    float: none;
    width: 100% !important;
    padding-left: 0%;   
}
#Perfil_02{/*contenedor de la direccion del doctor en 03.php*/
    background-color:;
    display:block;
    width: 100%;
    margin-top: 3%;
    margin: auto;
}
#Perfil_09{/*Afiliacion.php*/
    background-color:;  
    margin-top: 4% ;
    margin-bottom: 9%;
}
}